spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://127.0.0.1:3307/stop
    username: root
    password: 1234
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: none
      format_sql: true
    properties:
      hibernate:
        default_batch_fetch_size: 15

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.orm.jdbc.bind: trace #스프링 부트 3.x, hibernate6

server.port: 8000
